* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
    margin: 0;
    background-color: azure;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

aside {
    padding: 30px;
    padding-left: 0;
    background-color: white;
}
.logo {
    margin-left: 100px;
   
}



