.main {
    background-color: azure;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    align-content: start;
    padding: 2.2rem 2.2rem;
    gap: 2rem;
}
h1 {
    font-size: 1.4rem;
    color: black;
}
p {
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-top: 0.3rem;
    color: #949494;
}
.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    height: 320px;
    width: 100%;
}
.homeContainer > .title {
    font-size: 1.4rem;
    color: #fff;
}
.homeContainer > .text {
    font-size: 1.2rem;
    line-height: 1.3em;
    margin-top: 0.3rem;
    color: #ECF3FF;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flexForIcon {
    width: 45px;
    margin-left: 250px;
}
.board-icon {
    margin-top: 37px;
}
.bottom > .dashboard {
    width: 105px;
    margin-right: -24px;
    margin-top: -44px;
}
.board-icon2 {
    margin-top: 28px;
}
.bottom2 {
    margin-right: -24px;
    padding-top: 20px;
}
.bottom2 > .data {
    width: 105px;
}
.board-icon3 {
    margin-top: 41px;
}
.bottom2 > .users {
    width: 169px;
}

.bottom2 > .real-time {
    width: 150px;
}
.board-icon5 {
    margin-top: 20px;
}
.bottom2 > .billing {
    width: 152px;
}

.bottom2 > .campaigns {
    width: 157px;
} 
.fa {
    color: black;
    font-size: 23px;
}
.fa:hover {
    cursor: pointer;
}