.main {
    background-color: azure;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    align-content: start;
    padding: 2.2rem 2.2rem;
    gap: 2rem;
}
h1 {
    font-size: 1.4rem;
    color: black;
}
p {
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-top: 0.3rem;
    color: #949494;
}
.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    height: 320px;
    width: 100%;
}
.homeContainer > .title {
    font-size: 1.4rem;
    color: #fff;
}
.homeContainer > .text {
    font-size: 1.2rem;
    line-height: 1.3em;
    margin-top: 0.3rem;
    color: #ECF3FF;
}
.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.board-icon {
    display: flex;
    width: 45px;
    margin-top: 37px;
    margin-left: 250px;
}
.board-picture {
    width: 105px;
    margin-right: -24px;
    margin-top: -44px;
}
.fa {
    color: black;
    font-size: 23px;
}